@import '../../../scss/variables';

.container {
    background-color: $bg-color;
}

.example-card {
    background-color: $bg-secondary;
    width: 100%;
}
.example-card .mat-card-title {
    color: white;
}
