<div class="container">
  <mat-grid-list cols="2" rowHeight="600px">



    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-grouped-column3d [dataSource]="plantTotal"></app-grouped-column3d>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-bar3d [dataSource]="dataSource"></app-bar3d>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile colspan="1" rowspan="1">
            <app-gauge-linear [dataSource]="cop1"></app-gauge-linear>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile colspan="1" rowspan="1">
            <app-gauge-linear [dataSource]="cop2"></app-gauge-linear>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile colspan="1" rowspan="1">
            <app-gauge-linear [dataSource]="cop3"></app-gauge-linear>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile colspan="1" rowspan="1">
            <app-gauge-linear [dataSource]="cop4"></app-gauge-linear>
          </mat-grid-tile>
        </mat-grid-list>
        <mat-grid-list cols="1" rowHeight="120px">
          <mat-grid-tile colspan="1" rowspan="1">
            <app-gauge-linear [dataSource]="cop5"></app-gauge-linear>
          </mat-grid-tile>
        </mat-grid-list>
      </mat-card>
    </mat-grid-tile>


    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-piechart3d [dataSource]="dataSource"></app-piechart3d>
      </mat-card>
    </mat-grid-tile>




    <!-- <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-doughnut3d [dataSource]="dataSource"></app-doughnut3d>
      </mat-card>
    </mat-grid-tile> -->

  </mat-grid-list>
</div>






<!-- <div class="container">
    <mat-grid-list cols="3">
        <mat-grid-tile colspan="1" rowspan="1" >
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>This Year Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/This Year Consumption.png" width="350px" height="300px">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" >
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Change in Energy Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Change in Energy Consumption.png" width="350px" height="300px">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1" >
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Change in Water Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Change in Water Consumption.png" width="350px" height="300px">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="2" rowspan="1" >
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>Energy Consumption Summary</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/Energy Consumption Summary.png" width="350px" height="300px">
            </mat-card>
        </mat-grid-tile>
        <mat-grid-tile colspan="1" rowspan="1">
            <mat-card class="example-card">
                <mat-card-header>
                    <mat-card-title>This Year Consumption</mat-card-title>
                </mat-card-header>
                <img mat-card-image src="../../../assets/img/This Year Consumption.png" width="350px" height="300px">
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>

</div> -->
