

<div class="container">
  <mat-grid-list cols="1" rowHeight="450px">

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-gauge-linear [dataSource]="cop"></app-gauge-linear>
      </mat-card>
    </mat-grid-tile>
    <!-- <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-barchart3d [dataSource]="cop"></app-barchart3d>
      </mat-card>
    </mat-grid-tile> -->

    <!-- <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-piechart3d [dataSource]="dataSource"></app-piechart3d>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-bar3d [dataSource]="dataSource"></app-bar3d>
      </mat-card>
    </mat-grid-tile>

    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <app-doughnut3d [dataSource]="dataSource"></app-doughnut3d>
      </mat-card>
    </mat-grid-tile> -->

  </mat-grid-list>
</div>
