@import 'src/scss/_variables.scss';

.container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

::ng-deep .mat-expansion-indicator::after, .mat-expansion-panel-header-description { color: white;}

.sideNav {
  background-color: #1a1c22;
}

.a-list {
  color: white;
}

.sidenav-list:hover {
  background-color: #3b3e47;
}

.list-acc {
  background-color: #1a1c22;

}

.disable_ripple:hover{
background: #3b3e47 !important;
}

.accordion {
  border-style: none;
}

.list-acc-title:hover {
  background-color: #3b3e47;
}

.mobile .toolbar {
  position: fixed;
  /* Make sure the toolbar will stay on top of the content as it scrolls past. */
  z-index: 2;
}

.toolbar {
  background-color: #2c2f3a;
}

.toolbar .button {
  background-color: #2c2f3a;
}

h1.app-name {
  margin-left: 8px;
  color: white;
  font-family: 'Lobster', cursive;
  font-size: xx-large;
}

.route-name {
  flex: 1 1 auto;
  text-align: center;
  justify-content: center;
  color: white;
}

.sidenav-container {
  /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
     causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
  flex: 1;
  //background-color: $bg-secondary;
}

.mobile .sidenav-container {
  /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
     `<body>` to be our scrolling element for mobile layouts. */
  flex: 1 0 auto;
}


.white-icon {
    color: white;
}
/* Note: If you're using an SVG icon, you should make the class target the `<svg>` element */
.white-icon svg {
    fill: white;
}

// ul.menu{
//     list-style-type: none;
//     padding-inline-start: 0px;
//     position: relative;

//     li {
//         ul {
//             list-style-type: none;
//             padding-inline-start: 0px;
//         }
//     }
// }

// .menu-item{
//     cursor: pointer;
//     transition: all ease-in-out 0.3s;
// }

// .menu-item:hover{
//     cursor: pointer;
//     background-color: $bg-opt-four;
// }

// .menu-item.active{
//     background-color: $bg-opt-four;
// }

// .footer-version {
//   font-size: 12px;
//   color: #8392a3;
//   position: absolute;
//   bottom: 0;
//   width: 100%;
//   cursor: pointer;
// }

// .footer-version:hover {
//   color: #435e72;
// }
