<div class="container">
  <mat-grid-list cols="1" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Water overall Consumption</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/bill 3.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Change in Energy Consumption</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/bill 2.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Change in Water Consumption</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/bill 4.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Energy Consumption Summary</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/bill 1.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
