<div class="container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Average Efficiency</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/Chiller Average Efficiency Trend Last 7 days.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="1" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Equipment Distribution</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/Elec Equipment Distribution.png" width="350px" height="300px">
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile colspan="2" rowspan="1">
      <mat-card class="example-card">
        <mat-card-header>
          <mat-card-title>Plant Efficiency</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="../../../assets/img/Chiller Plant Efficiency .png" width="350px"
          height="300px">
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

</div>
